<% include header %>
<header class="row">
	<div class="col-md-12 erro-404">
		<h1>Ntalk</h1>
		<h4>Infelizmente essa página não existe :)</h4>
	</div>
</header>
<hr>
<div class="row">
	<p>Vamos voltar <a href="/">Home Page</a> :)</p>
</div>
<% include footer%>